@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

/* Default Styles */
* {
    box-sizing:border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%; /*1rem=16px*/
}

.section-heading {
    color: #fff;
    font-size: 12rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    text-align: center;
    text-shadow: .3rem .3rem .3rem #000;
    text-transform: capitalize;
}
/* End of Default Styles */

/* Navbar */

.navbar {
    align-items:center;
    background-color: #000;
    box-shadow: .2rem .2rem .2rem #000;
    display: flex;
    height: 14rem;
    justify-content: space-evenly;
    position: fixed;
    top: -14rem;
    transition: top 0.4s;
    width: 100%;
    z-index: 100;

}

.navbar.change {
    top: 0;
    transition: top 0.4s .2s;
}

.navbar-link {
    align-items: center;
    color: #aaa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.4rem;
    opacity: 0;
    transition: color 0.3s, opacity 2s;
}

.change .navbar-link {
    opacity: 1;
}

.change .navbar-link:nth-child(1) {
    transition: opacity .4s .5s, color .3s;
}

.change .navbar-link:nth-child(2) {
    transition: opacity .4s .6s, color .3s;
}

.change .navbar-link:nth-child(3) {
    transition: opacity .4s .7s, color .3s;
}

.change .navbar-link:nth-child(4) {
    transition: opacity .4s .8s, color .3s;
}

.change .navbar-link:nth-child(5) {
    transition: opacity .4s .9s, color .3s;
}


.navbar-link:hover {
    color: #fff;
}

.navbar-link i {
    font-size: 7rem;
}

.navbar-link span {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-top: 0.5rem;
}

.menu {
    background-color: #000;
    border-radius: 30rem 30rem 15rem 15rem;
    box-shadow: .1rem .1rem .1rem #000, -0.1rem -0.1rem 0.1rem #000;
    cursor: pointer;
    height: 6rem;
    left: 5rem;
    position: fixed;
    top: 1rem;
    transition: top .4s .2s;
    width:  4rem;
    z-index: 50;

}
.menu.change {
    top: 15rem;
    transition: top .4s;
}

.menu::before {
background-color: #000;
box-shadow: .1rem 0rem .1rem #000 ;
content: "";
height: 15rem;
left: calc(50% - .15rem);
position: absolute;
top:-15rem;
width: 0.3rem;
}

/* End of NavBar */

/* Section 1*/
.section-1 {
    align-items: center;
    background-color: #333;
    display: flex;
    flex-direction: column;
    height:100vh;
    justify-content: space-evenly;
    width: 100%;
}

.section-1-icons i {
color: #a79a2d;
font-size: 35rem;
position: absolute;
text-shadow: 0.2rem 0.2rem 0.2rem #000;
transform: translate(-50%, -50%) scale(0);
transition: transform .3s;
}

.section-1-icons i.change {
    transform: translate(-50%, -50%) scale(1); 
    transition: transform .3s .3s;
}

/* End of Section 1 */

/* Section 2 */
.section-2 {
    background-color: #222;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 10rem 0;
    width: 100%;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    align-items: center;
    background-color: #a79a2d;
    box-shadow: 1rem 1rem 1rem #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
    position: relative;
    transform:rotateY(20deg) skewX(-2deg);
    transition: transform .5s, box-shadow .5s;
    width:30rem;
}

.card:hover {
    box-shadow: 2rem 2rem 2rem #000;
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
}

.card::before {
    background-color: #817824;
    box-shadow: -.1rem  -.1rem  .1rem #000;
    content:"";
    height: 100%;
    left: -1rem;
    position: absolute;
    top: 0;
    transform-origin: right;
    transform: skewY(45deg);
    width: 1rem;
}

.card::after {
    background-color: #8f8317;
    box-shadow: -.1rem  -.1rem  .1rem #000;
    content:"";
    height: 1rem;
    left: 0;
    position: absolute;
    top: -1rem;
    transform-origin: bottom;
    transform: skewX(45deg);
    width: 100%;
}


.card-img {
    width: 100%;
}

.card-name {
    color:#111;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    margin: 2rem 0;
    text-shadow: .15rem .15rem .15rem #000;
    text-transform: uppercase;
}

.card-btn {
    background-color: #111;
    border-radius: 5rem;
    border: none;
    box-shadow: -0.2rem -0.2rem 0.2rem #000;
    color: #888;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    padding: .5rem 0;
    text-transform: capitalize;
    width:70%;
}
/* End of Section 2 */

/* Section 3 */

.section-3 {
    background-color: #333;
    padding: 5rem 0;
}

.gallery {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10rem;
}

.gallery-link {
    margin: 4rem 1rem;
    position: relative;
}

.gallery-link::before {
    background-color: #fff;
    content:"";
    height: 0;
    left: 80%;
    position: absolute;
    top: 2vw;
    transition: height .5s;
    width: .2rem;
    z-index: 10;
}

.gallery-link:hover::before {
     height: 80%;
}



.gallery-link::after {
    background-color: #fff;
    content:"";
    height: .2rem;
    left: 2rem;
    position: absolute;
    top: 30%;
    transition: width 0.5s;
    width: 0;
}

.gallery-link:hover::before {
    height: 80%;
  }
  
  .gallery-link:hover::after {
    width: 90%;
  }

.food-img {
    box-shadow: .3rem .3rem .1rem #e92929, .5rem .5rem .1rem #a2e946, .7rem .7rem .1rem #297ce9, .9rem .9rem .1rem #e92999 ;
    height: 15vw;
    object-fit: cover;
    transition: all .5s;
    width: 24vw;
}

.gallery-link:hover .food-img {
    box-shadow: 1rem 1rem .1rem #e92929, 2rem 2rem .1rem #a2e946, 3rem 3rem .1rem #297ce9, 4rem 4rem .1rem #e92999 ;
    filter:blur(.5rem);
    opacity: 0.5;
    transform: scale(1.1);
}

.food-name {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  left: 3rem;
  letter-spacing: 0.1rem;
  overflow: hidden;
  position: absolute;  
  text-transform: uppercase;
  top: 3rem;
  transition: width 0.3s;
  width: 0;
}

.gallery-link:hover .food-name {
    transition: width 1.5s .5s;
    width: 100%;
}
.food-description {
    bottom: 3vw;
    color:#fff;
    font-size: 1.5rem;
    font-weight: 300;
    left: 2rem;
    letter-spacing: .1rem;
    opacity: 0;
    position: absolute;
    text-transform: uppercase;
    transition: opacity 0.3s;
    visibility: hidden;
    width: 70%;
}

.gallery-link:hover .food-description {
    opacity: 1;
    transition: opacity 1s 1s;
    visibility: visible;
}
/* End of Section 3 */

/* Section 4 */

.section-4 {
    align-items: flex-start;
    background-color: #222;
    display: flex;
    height: 30vh;
    justify-content: space-around;
    padding: 3rem 0;
    position: relative;
    width:100%;
}

.section-4-text {
    text-transform: uppercase;
}
.section-4-heading {
    color: #a79a2d;
    font-size: 4rem;
    font-weight: 900;
}

.section-4-paragraph {
    color: #888;
    font-size: 1.5rem;
}

.signup-form {
    align-items: center;
    display: flex;
}

.signup-form-input {
    
    border: .2rem solid #a79a2d;
    color: #a79a2d;
    font-size: 1.6rem;
    font-weight: 700;
    height: 5rem;
    letter-spacing: .1rem;
    padding: 1rem;
    width: 35rem;
}

.signup-form-input::placeholder {
color: #a79a2d;
}

.signup-form-btn {
background-color: #333;
border: none;
color: #a79a2d;
cursor: pointer;
font-size: 1.8rem;
height: 4rem;
left: -4.5rem;
position: relative;
width: 4rem;
}

.copyright {
border-top: 0.1rem solid #888;
bottom: 3rem;
color: #eee;
font-size: 1.7rem;
font-weight: 200;
letter-spacing: 0.1rem;
padding-top: 6rem;
position: absolute;
text-align: center;
width: 100%;
}

/* End of Section 4 */

/* Responsive */
@media (max-width: 1400px) {
  html {
    font-size: 50%;
  }  

  .section-2 {
    height: auto;
  }

  .cards-container {
    margin-top: 10rem;
  }

  .gallery-link {
    width: 40rem;
    height: 25rem;
    margin: 5rem;
  }
  .food-img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1000px) {
    .section-heading {
      font-size: 9rem;
      margin: 0 5rem;
    }  
  
    .section-1-icons {
     font-size: 25rem;
    }
  
    .cards-container {
    flex-wrap: wrap;
    }
    
  .card {
    margin: 5rem;
  }

  .section-4 {
    height: 30rem;
  }
  }
  
  @media (max-width: 900px) {
    .navbar-link {
      margin: 2rem;
    }  
  
    .navbar-link i {
     font-size: 4rem;
    }
  
    .navbar-link span {
        font-size: 2rem;
  }
  }

  @media (max-width: 700px) {
    .section-heading{
        font-size: 7rem;
        margin: 0 10rem;
    }  
  .section-1-icons i {
    font-size: 20rem;
  }
  .menu {
    left: 2rem;
  }
  .section-4 {
    align-items: center;
    flex-direction: column;
    height: 40rem;
    justify-content: flex-start;
  }

  .section-4-text {
    margin-bottom: 8rem;
  }
  }

  @media (max-width: 550px) {
    html {
        font-size: 40%;
      }  
    .navbar-link {
        margin: 0 .7rem;
    }
  }
/* End of Responsive */